<ion-view title="Emergency Contact">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <h1 class="title"></h1>
    <ion-nav-buttons side="right">
        <button class="button ion-ios7-plus-empty" ng-click="pickContact()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="content">            
            <div class="list">
                    <a class="item item-icon-right" ng-repeat="contact in data.selectedContacts">
                        <i class="icon ion-trash-a" ng-click="removeContact(contact);"></i>
                        <h2>{{contact.displayName}}</h2>
                        <p ng-if="contact.phones.length > 0">{{contact.phones[0].type}} : {{contact.phones[0].value}}</p>
                    </a>
                </div>
                <div class="padding" ng-if="data.selectedContacts.length > 0">
                    <button class="button button-block button-positive" ng-click="updateEmgrDetails();">Save</button>
                </div>
        </div>
    </ion-content>
</ion-view>